{{- if .Values.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: {{ .Values.namespace }}
  labels:
    app: prometheus
    {{- include "prometheus.labels" . | nindent 4 }}
data:
  prometheus.yml: |
    global:
      {{- toYaml .Values.config.global | nindent 6 }}
        
    scrape_configs:
      {{- toYaml .Values.config.scrape_configs | nindent 6 }}
{{- end }}
