{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}
  labels:
    app: prometheus
    {{- include "prometheus.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      securityContext:
        {{- include "prometheus.podSecurityContext" . | nindent 8 }}
      containers:
        - name: prometheus
          image: "{{ .Values.image.repository }}:{{ if .Values.global }}{{ .Values.global.versions.prometheus | default .Values.image.tag }}{{ else }}{{ .Values.image.tag }}{{ end }}"
          imagePullPolicy: IfNotPresent
          securityContext:
            {{- include "prometheus.containerSecurityContext" . | nindent 12 }}
          args:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus/'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--storage.tsdb.retention.time=200h'
            - '--web.enable-lifecycle'
            - '--web.enable-remote-write-receiver'
            - '--enable-feature=native-histograms'
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus
            {{- if .Values.persistence.enabled }}
            - name: storage
              mountPath: /prometheus
            {{- end }}
          readinessProbe:
            httpGet:
              path: /-/ready
              port: {{ .Values.service.port }}
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: {{ .Values.service.port }}
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: prometheus-config
        {{- if .Values.persistence.enabled }}
        - name: storage
          persistentVolumeClaim:
            claimName: prometheus-pvc
        {{- else }}
        - name: storage
          emptyDir: {}
        {{- end }}
{{- end }}
