{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: {{ .Values.namespace }}
  labels:
    app: grafana
    {{- include "grafana.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: grafana

---
{{- if .Values.nodePort.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: grafana-nodeport
  namespace: {{ .Values.namespace }}
  labels:
    app: grafana
    {{- include "grafana.labels" . | nindent 4 }}
spec:
  type: NodePort
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      nodePort: {{ .Values.nodePort.port }}
  selector:
    app: grafana
{{- end }}
{{- end }}
