spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}
  cache:
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=5m
    cache-names: umaTokens

---
spring:
  config:
    activate:
      on-profile: kubernetes
    import: "kubernetes:"
  cloud:
    config:
      enabled: false
    kubernetes:
      config:
        sources:
          - name: common-config
          - name: api-gateway
      discovery:
        all-namespaces: true
