{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
  namespace: {{ .Values.namespace }}
  labels:
    app: keycloak
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.http.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: keycloak
---
{{- if .Values.nodePort.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: keycloak-nodeport
  namespace: {{ .Values.namespace }}
  labels:
    app: keycloak
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  type: NodePort
  ports:
    - name: http
      port: {{ .Values.service.http.port }}
      targetPort: http
      nodePort: {{ .Values.nodePort.port }}
  selector:
    app: keycloak
{{- end }}
{{- end }}
