{{- if .Values.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: {{ .Values.namespace }}
  labels:
    app: tempo
    {{- include "tempo.labels" . | nindent 4 }}
data:
  tempo.yaml: |
    stream_over_http_enabled: {{ .Values.config.stream_over_http_enabled }}
    
    server:
      http_listen_port: {{ .Values.config.server.http_listen_port }}
      log_level: {{ .Values.config.server.log_level }}
    
    query_frontend:
      search:
        duration_slo: {{ .Values.config.query_frontend.search.duration_slo }}
        throughput_bytes_slo: {{ .Values.config.query_frontend.search.throughput_bytes_slo }}
        metadata_slo:
          duration_slo: {{ .Values.config.query_frontend.search.metadata_slo.duration_slo }}
          throughput_bytes_slo: {{ .Values.config.query_frontend.search.metadata_slo.throughput_bytes_slo }}
      trace_by_id:
        duration_slo: {{ .Values.config.query_frontend.trace_by_id.duration_slo }}
        throughput_bytes_slo: {{ .Values.config.query_frontend.trace_by_id.throughput_bytes_slo }}
      metrics:
        max_duration: {{ .Values.config.query_frontend.metrics.max_duration }}
        query_backend_after: {{ .Values.config.query_frontend.metrics.query_backend_after }}
        duration_slo: {{ .Values.config.query_frontend.metrics.duration_slo }}
        throughput_bytes_slo: {{ .Values.config.query_frontend.metrics.throughput_bytes_slo }}
    
    distributor:
      usage:
        cost_attribution:
          enabled: {{ .Values.config.distributor.usage.cost_attribution.enabled }}
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: {{ (index .Values.config.distributor.receivers.otlp.protocols.grpc).endpoint }}
            http:
              endpoint: {{ (index .Values.config.distributor.receivers.otlp.protocols.http).endpoint }}
    
    ingester:
      max_block_duration: {{ .Values.config.ingester.max_block_duration }}
    
    compactor:
      compaction:
        block_retention: {{ .Values.config.compactor.compaction.block_retention }}
    
    metrics_generator:
      registry:
        external_labels:
          source: {{ .Values.config.metrics_generator.registry.external_labels.source }}
          cluster: {{ .Values.config.metrics_generator.registry.external_labels.cluster }}
      storage:
        path: {{ .Values.config.metrics_generator.storage.path }}
        remote_write:
          - url: {{ (index .Values.config.metrics_generator.storage.remote_write 0).url }}
            send_exemplars: {{ (index .Values.config.metrics_generator.storage.remote_write 0).send_exemplars }}
      traces_storage:
        path: {{ .Values.config.metrics_generator.traces_storage.path }}
    
    storage:
      trace:
        backend: {{ .Values.config.storage.trace.backend }}
        wal:
          path: {{ .Values.config.storage.trace.wal.path }}
        local:
          path: {{ .Values.config.storage.trace.local.path }}
    
    overrides:
      defaults:
        cost_attribution:
          dimensions: {{ toYaml .Values.config.overrides.defaults.cost_attribution.dimensions | nindent 12 }}
        metrics_generator:
          processors: {{ toYaml .Values.config.overrides.defaults.metrics_generator.processors | nindent 12 }}
          generate_native_histograms: {{ .Values.config.overrides.defaults.metrics_generator.generate_native_histograms }}
{{- end }}
