{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: tempo-pdb
  namespace: {{ .Values.namespace }}
  labels:
    app: tempo
    {{- include "tempo.labels" . | nindent 4 }}
spec:
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable | default 1 }}
  selector:
    matchLabels:
      app: tempo
{{- end }}
