server:
    port: 8888

spring:
#   profiles:
#     active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:/home/zhubin/projects/spring-load-development-config
        git:
          uri: https://github.com/zhoozhoo/spring-load-development-config
          default-label: main
management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      probes:
        enabled: true
