{{- if and .Values.postgresql.enabled (not .Values.postgresql.external) }}
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Values.postgresql.namespace }}
  labels:
    {{- include "postgresql.labels" . | nindent 4 }}
type: Opaque
data:
  POSTGRES_PASSWORD: {{ .Values.postgresql.auth.password | b64enc }}
{{- end }}

{{- if and .Values.keycloakPostgresql.enabled (not .Values.keycloakPostgresql.external) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-postgres-secret
  namespace: {{ .Values.keycloakPostgresql.namespace }}
  labels:
    {{- include "postgresql.labels" . | nindent 4 }}
type: Opaque
data:
  POSTGRES_PASSWORD: {{ .Values.keycloakPostgresql.auth.password | b64enc }}
{{- end }}
